$large : (min-width: 992px) and (max-width: 1200px);
$medium :(min-width: 768px) and (max-width: 991px);
$small : only screen and (max-width: 767px);

/* XL Device :992px. 980px */
@media #{$large} {
  .contact-form {
    &:before {
      width: 100%;
      height: 100%;
      right: 0;
    }

    .form-bg {
      .form-left {
        border-radius: 5px 5px 0 0;

        &-content {
          padding: 0;
        }
      }
    }
  }
}

/* MD Device :768px. 750px */
@media #{$medium} {
  .form-title {
    font-size: 26px;
  }

  .contact-form {
    .form-bg {
      .form-left {
        border-radius: 5px 0 0 5px;

        &-content {
          padding: 0;
        }
      }
    }
  }
}


/* Mobile Layout: 320px. 300px */
@media #{$small} {
  .contact-form {
    padding: 0;
    width: 100%;

    &::before {
      z-index: -1;
      top: 0;
      transform: rotate(45deg);
      left: 0;
      width: 100%;
    }

    .form-left {
      border-radius: 5px 5px 0 0;
    }

    .form-bg {
      height: auto;
      padding: 0 15px;
      margin-right: -15px;
      margin-left: -15px;

      .form-left {
        margin: 0 -15px;
        padding: 20px 0;
        border-radius: 5px 5px 0 0;
      }

      .form-right {
        border-radius: 0 0 5px 5px;
        width: 100%;

        form {
          .form-btn {
            width: 100%;
          }

          .single-input {
            input {
              border-radius: 5px;
            }
          }
        }

      }


    }


  }

  .form-right {
    background-color: #f8f8f9;
  }
}